---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Inverdale Case</title>
  </head>
  <body>
    <main>
      <h1>The Inverdale Case</h1>
      <h2>Objective 1 - Prove Aiden could not have killed Kelly McCloud</h2>

      <!-- We'll add the checkbox form here next -->
    </main>
  </body>
</html>
